.wrapper{
    display:inline-grid;
    grid-template-columns: auto auto auto auto;
    margin-left: 100px;
}

h1{
    font-family: monospace;
    text-align: center;
    margin-top: 90px;
}

.sign{
    margin-left: 85%;
    font-family: monospace;
    font-size: 17px;
}

.trafficCircles{
    height: 80px;
    width: 80px;
    display: flex;
    border-radius: 100px;
    background-color: gray;
    margin: 10px;
}

.vertical{
    height: 300px;
    width: 100px;
    background-color: black; 
    padding: 10px;
    margin: 50px;
    border-radius: 100px;
   
}

.horizontal{
    height: 100px;
    width: 300px;
    background-color: black; 
    padding: 10px;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    margin-right: 5px;
    border-radius: 100px;
    
}
