body {

    margin-left: 30%
}

/* Search Component */

.input {
    width: 736px;
    height: 64px;
    border-radius: 12px;
    padding-left: 10px;
    background-color: rgb(241, 240, 240);
    border-color: rgb(241, 240, 240);
    margin-left: -20px;
}

.search-icon {
    position: relative;
    left: 56%;
    top: 8px;
}

.word-phonetic {
    color: rgb(164, 69, 237);
    font-size: 20px;
    position: absolute;
    bottom: 68%;
}


.play-icon {
    position: absolute;
    margin-left: 38%;
    margin-top: 55px;
    color: rgb(195, 150, 229);
}



/* Definition component */

.part-of-speech {
    font-style: italic;
    display: inline-block;
    margin-right: 20px;

}

.divider {
    display: inline-block;
    width: 55%;
    vertical-align: middle;

}