/* App.js */
.monospace {
    font-family: monospace;
}

.sans-serif {
    font-family: sans-serif;
}

.serif {
    font-family: serif;
}

/* Search component */

.input {
    width: 736px;
    height: 64px;
    border-radius: 12px;
    padding-left: 20px;
    background-color: rgb(241, 240, 240);
    border-color: rgb(241, 240, 240);
    margin-left: -20px;
}

.search-icon {
    position: relative;
    left: 55%;
    top: 8px;
}

.search-icon:hover {
    transform: scale(1.2);
}

.word-phonetic {
    color: rgb(164, 69, 237);
    font-size: 20px;
    position: absolute;
    bottom: 63%;
}


.play-icon {
    position: absolute;
    margin-left: 38%;
    margin-top: 55px;
    color: rgb(195, 150, 229);
}

.play-icon:hover {
    transform: scale(1.1);
}

.error-message {
    color: rgb(237, 28, 28);
    margin-top: '5px'
}



/* Definition component */

.part-of-speech {
    font-style: italic;
    display: inline-block;
    margin-right: 20px;

}

.divider {
    display: inline-block;
    width: 55%;
    vertical-align: middle;

}

.def-container {
    display: flex;
    flex-direction: column;
}

.definition {
    max-width: 700px;
}

/* TopBar component  */

.arrow-down {
    color: rgb(164, 69, 237);
    transition: transform 0.3s ease;

}

.arrow-down:hover {
    transform: scale(1.5);

}


.font-items {
    position: absolute;
    margin-left: 30px;
    margin-top: 90px;
    background-color: rgb(164, 69, 237);
    color: white;
    z-index: 1000;
}